<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <appSettings>
    <add key="pStrServer" value="localhost"/>
    <add key="pStrDataBase" value="bdbiblioteca"/>
    <add key="pStrUser" value="root"/>
    <add key="pStrpass" value="root"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: {6CC9399B-01B5-48F2-B1CC-59223803AFBC}-->